<div class="partners">

    <div class="partner">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas {{ partners.logo }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="partnersText">
            <h3>
                {{ partners.title }}
            </h3>
            <p>
                {{ partners.description }}
            </p>
        </div>
    </div>
</div>
